div.people-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    /* padding: 2%; */
}

/* On mouse-over, add a deeper shadow */
div.people-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
    /* background: #5851ff; */
    /* color: white; */
    padding: 2px 16px;

}